@charset "UTF-8";

body {
    background-color: rgb(255, 165, 165);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    text-align: left;
    padding: 10px;
    margin: 2.5px;
}

input {
    padding: 5px;
    margin: 6.5px;
}

button {
    margin: 5.5px;
}

a {
    color: rgb(221, 255, 236);
}
