@charset "UTF-08";

body{
    background-color: blanchedalmond;

}

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;

    color: cadetblue;
    text-align: center;
    text-decoration: solid;
    font-weight: bolder;

    margin: 5px;

}

button{
    margin-right: 250px;
}