@charset "UTF-8";

body {
    background-color: rgb(255, 222, 173);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: cadetblue;
    text-align: center;
    font-weight: bolder;
    margin: 5px;
}

button {
    margin-right: 250px;
}